<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net configSource="config\logging.config" />
  <connectionStrings>
    <add name="Logging" connectionString="mongodb://192.168.122.1/Logs"/>
  </connectionStrings>
</configuration>