@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" id="repos">
    @{ var repos = ViewBag.Repositories; }
    @for(var i = 0; i < repos.Count; i++) {
        var repo = ViewBag.Repositories[i] as MongoDbAppender.Query.Dto.LogRepositoryDto;
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @repo.Name
                    <span class="badge pull-right">
                        @ViewBag.StatMinutes min
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            loadStat('@repo.Name', );
        </script>
    }
</div>
@Html.Partial("Templates/_Stat")