@using LogLevel = MongoDbAppender.Query.Dto.LogLevel;
    <script type="text/html" id="repo">
        <div class="panel {{panelClass}}">
            <div class="panel-heading">
                {{name}}
                <a class="glyphicon glyphicon-refresh pull-right" href="#refresh" onclick="loadRepo('{{name}}', $(this).parents('.repoContainer')); return false;"></a>
            </div>
            <div class="list-group">
                @foreach (LogLevel logLevel in Enum.GetValues(typeof(LogLevel)))
                {
                    var levelInLower = logLevel.ToString().ToLower();
                    <a class="list-group-item {{#@logLevel.ToString()}}active{{/@logLevel.ToString()}}" href="{{appRoot}}repositories/{{name}}#level=@levelInLower">
                        <span class="badge">{{stat.@levelInLower}}</span>
                        @*// TODO: i18n*@
                        @logLevel
                    </a>
                }
            </div>
        </div>
    </script>
