<script type="text/html" id="repoDetail">
    {{#logEntries}}
    <div class="panel {{panelClass}}">
        <div class="panel-heading">{{className}}.{{method}} (line {{lineNumber}})</div>
        <div class="panel-body">
            {{loggerName}}: {{message}}
            {{#exception}}
                <hr />
                <h3>{{exception.name}}</h3>
                <p>{{exception.message}}</p>
                <div class="well">
                    <pre>{{exception.stackTrace}}</pre>
                </div>
                {{> exception}}
            {{/exception}}
        </div>
        <div class="panel-footer">
            By <b>{{userName}} </b>
            from <b>{{machineName}}</b>
            at <b>{{timestamp}}</b>
        </div>
    </div>
    {{/logEntries}}
</script>

<script type="text/html" id="exception">
    <h2>{{innerException.name}}</h2>
    <p>{{innerException.message}}</p>
    <div class="well">
        <pre>{{innerException.stackTrace}}</pre>
    </div>
    {{> exception}}
</script>