<script type="text/html" id="repo">
    <div class="panel panel-primary">
        <div class="panel-heading">{{loggerName}}: {{message}}</div>
        <div class="panel-body">
            <h1>{{}}</h1>
            <pre>{{stackTrace}}</pre>
        </div>
        <div class="panel-footer">
            {{}}
        </div>
    </div>
</script>