<script type="text/html" id="stat">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{name}}
        </div>
        <div class="list-group">
            {{#stat}}
            <a class="list-group-item">
                <span class="badge">{{count}}</span>
                {{level}}
            </a>
            {{/stat}}
        </div>
    </div>
</script>