<script type="text/html" id="stat">
    <div class="list-group">
        {{#repo.stats}}
        <a class="list-group-item">
            <span class="badge">{{count}}</span>
            {{level}}
        </a>
        {{/repo.stats}}
    </div>
</script>